In [1]:
import pandas as pd

In [2]:
def extract_words_by_freq(d,f,t):
  temp = d['0_x'].unique().tolist()[f:t]
  return temp

def make_dict_by_freq(dict_f, dict_t, freq_f, freq_t):
  temp = pd.merge(dict_f,dict_t,left_on=1,right_on=0)
  temp = temp[['0_x','1_y']]
  unique_list = extract_words_by_freq(temp, freq_f, freq_t)
  return temp[temp['0_x'].isin(unique_list)].drop_duplicates()

def make_s_dict_by_freq(dict_f):
    t_1 = temp1[0].unique().tolist()[:5000]
    r_1 = pd.DataFrame([t_1,t_1]).transpose()
    t_2 = temp1[0].unique().tolist()[5000:6500]
    r_2 = pd.DataFrame([t_2,t_2]).transpose()
    return r_1, r_2

def make_dict_l1_en_l2(dict_l1, dict_l2, freq_f, freq_t):
  temp = pd.merge(dict_l1,dict_l2,left_on=1,right_on=0)
  return temp
  # temp = temp[['0_x','1_y']]
  # unique_list = extract_words_by_freq(temp, freq_f, freq_t)
  # return temp[temp['0_x'].isin(unique_list)].drop_duplicates()

## Create new XX-YY dictionary from XX-EN and EN-YY dictionaries.

In [36]:
# Set 'from' and 'to' languages for dictionary.
f = 'zh'
t = 'de'

In [39]:
# Load dictionary information \t
temp1 = pd.read_csv(f'../data/crosslingual/dictionaries/{f}-en.txt', sep=' ',header=None)
temp2 = pd.read_csv(f'../data/crosslingual/dictionaries/en-{t}.txt', sep=' ',header=None)

In [40]:
# Please Check sep parameter, the parameter should be changed depending on the dataset
print(temp1[:10])
print(temp2[:10])

   0        1
0  年     year
1  月     moon
2  月   months
3  月    month
4  日      day
5  和      and
6  村  village
7  人      man
8  人   people
9  %        %
     0      1
0  the    die
1  the    der
2  the    dem
3  the    den
4  the    das
5  and  sowie
6  and    und
7  was    war
8  was  wurde
9  for    für

In [41]:
# Because I do not want to use identical words as dictionary information,
# Extract infromation having different words
temp1 = temp1[temp1[0]!=temp1[1]]
temp2 = temp2[temp2[0]!=temp2[1]]

In [42]:
# Check dataframes
print(temp1[:10])
print(temp2[:10])

      0          1
0     年       year
1     月       moon
2     月     months
3     月      month
4     日        day
5     和        and
6     村    village
7     人        man
8     人     people
10  小行星  asteroids
     0      1
0  the    die
1  the    der
2  the    dem
3  the    den
4  the    das
5  and  sowie
6  and    und
7  was    war
8  was  wurde
9  for    für

In [43]:
# Drop rows including NaN value.
# It will make error when we train CWE models
temp1.dropna(axis=0,inplace=True)
temp2.dropna(axis=0,inplace=True)

In [44]:
# Join the datasets
# I will use frequenly used words(0~5000) as traiing set
# and from 5000 to 6500 as evaluate set
t1 = make_dict_by_freq(temp1,temp2,0,5000)
t2 = make_dict_by_freq(temp1,temp2,5000,6500)

In [45]:
# Check there is no NaN values
print(t1.isnull().sum())
print(t2.isnull().sum())

0_x    0
1_y    0
dtype: int64
0_x    0
1_y    0
dtype: int64

In [46]:
# Save the created datasets
t1.to_csv(f'../data/crosslingual/dictionaries/{f}-{t}.0-5000.txt',header=None,index=False,sep='\t')
t2.to_csv(f'../data/crosslingual/dictionaries/{f}-{t}.5000-6500.txt',header=None,index=False,sep='\t')

            0_x 1_y
12058   éteinte  滅絕
12059   éteints  滅絕
12060  exprimer  快車
12061  exprimer  明示
12062  exprimer  特快